<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TECHNOVISTA INSTITUTE OF TECHNOLOGY</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">*@

</head>



<body>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("TechnoVista", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("About us", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>



                    <li>@Html.ActionLink("Courses", "Index", "Courses", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Admissions", "Index", "ApplicantDetails", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Notices", "Index", "Notices", new { area = "" }, new { @class = "nav-link" })</li>

                    @if (User.IsInRole("Applicant"))
                    {
                        <li>@Html.ActionLink("Meritlist", "MeritList", "ApplicantDetails", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Allotment List", "MeritList1", "ApplicantDetails", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Application status", "PersonalDetails", "ApplicantDetails", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Transactions", "ViewPaymentById", "AdmissionFee", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Pay Fees", "PayNow", "AdmissionFee", new { area = "" }, new { @class = "nav-link" })</li>

                    }




                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Manage Courses", "Index", "Courses", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Meritlist and Allot", "MeritList", "ApplicantDetails", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Allotment List", "MeritList1", "ApplicantDetails", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Transactions", "ViewPayments", "AdmissionFee", new { area = "" }, new { @class = "nav-link" })</li>


                    }

                </ul>


                    <ul class="navbar-nav navbar-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <!--<li class="navbar">@User.Identity.Name</li>-->
                            <li>@Html.ActionLink("LogOut", "SignOut", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Register", "Create", "ApplicantDetails", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>

                            <li>@Html.ActionLink("Log in", "SignIn", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                    </ul>

            </div>
        </div>

    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TECHNOVISTA INSTITUTE OF TECHNOLOGY</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready
    </script>


    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://code.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrap.com/4.3.1/js/bootstrap.min.js"></script>*@

</body>

</html>





                
