@model Lastadmissionproject.Models.Courses

@{
    ViewBag.Title = "Details";
}

<head>
    <style>
        .card {
            cursor: pointer;
            width: 1100px;
            height: 450px;
            background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%, rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 255, .2);
            transition: all .2s;
            box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
        }

            .card:hover {
                box-shadow: -12px 12px 2px -1px rgba(0, 0, 255, .2);
            }


            .h2 {
                font-size: 32px;
            }

    </style>
</head>






<body>

    <div class="card" style="text-align:center;">
        <h2>Details of the Course</h2>











        <div>

            <hr>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CourseName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CourseName)
                </dd>
                <br>
                <dt>
                    @Html.DisplayNameFor(model => model.SeatAvailable)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SeatAvailable)
                </dd>
                <br>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <br>
                <dt>
                    @Html.DisplayNameFor(model => model.CourseFee)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CourseFee)
                </dd>

            </dl>
        </div>


        @if (User.IsInRole("Admin"))
        {
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        }
        </div>
</body>