@model IEnumerable<Lastadmissionproject.Models.Courses>

@{
    ViewBag.Title = "Index";
}

<h2>Courses We Offer</h2>
<style>
    .table {
        margin-bottom: 20px;
        padding: 20px;
        background-color: rgb(255,255,255,0.5);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        backdrop-filter: blur(5px);
    }
    body {
        background-color: #f4f4f4;
        background-image: url('https://img.freepik.com/premium-vector/abstract-technology-background_41981-652.jpg?size=626&ext=jpg&ga=GA1.1.951333187.1685453264&semt=sph');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CutOff)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CutOff)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CourseId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
                </td>
            }
        </tr>
    }

</table>
