@model IEnumerable<Lastadmissionproject.Models.ApplicantDetail>


    @{
        ViewBag.Title = "Allotments";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Allotments</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CandidateId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.HigherSecondaryAggregateMarks)

            </th>
            <th>

                @Html.DisplayNameFor(model => model.Courses.CourseName)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Rank)
            </th>

            <th>

                @Html.DisplayNameFor(model => model.AllotmentStatus)
            </th>






        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CandidateId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.HigherSecondaryAggregateMarks)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Courses.CourseName)

                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Rank)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.AllotmentStatus)
                </td>




            </tr>
        }

    </table>
    <br />
