@model IEnumerable<Lastadmissionproject.Models.AdmissionFee>

@{
    ViewBag.Title = "ViewPaymentById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewPaymentById</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AllocationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CandidateId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeesAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeesStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CVV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AllocationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CandidateId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeesAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeesStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CVV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDate)
        </td>
        
    </tr>
}

</table>
