@model IEnumerable<Lastadmissionproject.Models.ApplicantDetail>

@{
    ViewBag.Title = "MeritList";

}

<h2>MeritList</h2>
<!--@Html.ActionLink("Continue", "MeritList1", "ApplicantDetails")-->

@if (User.IsInRole("Admin"))
{
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Allot", "Allotments")'">Allot Seats</button>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CandidateId)
        </th>



        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.HigherSecondaryAggregateMarks)

        </th>
        <th>

            @Html.DisplayNameFor(model => model.Courses.CourseName)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.Rank)
        </th>

       




    </tr>

    @foreach (var item in Model)
    {
        if (item.CandidateId != 14)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.HigherSecondaryAggregateMarks)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Courses.CourseName)

            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            




        </tr>
        }
    }

</table>
<br />

