@model IEnumerable<Lastadmissionproject.Models.ApplicantDetail>

@{
    ViewBag.Title = "MeritList1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
<style>
    .table {
        margin-bottom: 20px;
        padding: 20px;
        background-color: rgb(255,255,255,0.5);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        backdrop-filter: blur(5px);
    }

    .table th {
        background-color: #772953;
        color: white;
    }

        .table tr:hover {
            background-color: #fedec7;
        }



    body {
        background-color: #f4f4f4;
        background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-watercolor-background_23-2149023492.jpg?size=626&ext=jpg&ga=GA1.1.951333187.1685453264&semt=ais');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
</head>












<h2 style="text-align:center">ALLOTMENT LIST</h2>
<br>
<br>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CandidateId)
        </th>



        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>


        <th>

            @Html.DisplayNameFor(model => model.Courses.CourseName)
        </th>


        <th>

            @Html.DisplayNameFor(model => model.AllotmentStatus)
        </th>

    </tr>

    @foreach (var item in Model)
    {

        if (item.CandidateId != 14)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CandidateId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>


                <td>

                    @Html.DisplayFor(modelItem => item.Courses.CourseName)

                </td>

                <td>

                    @Html.DisplayFor(modelItem => item.AllotmentStatus)
                </td>
            </tr>
        }
    }

</table>
