@model Lastadmissionproject.Models.ApplicantDetail

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>PersonalDetails</title>

    <style>

        body{
            background-image: Url('/Content/images/OANWZJ0.jpg')
        }

        container {
            display: flex;
            align-items: center;
            justify-content: center;
        }


        .flip-card {
            background-color: transparent;
            width: 1100px;
            height: 450px;
            perspective: 1000px;
            font-family: sans-serif;
        }

        .title {
            font-size: 1.5em;
            font-weight: 900;
            text-align: center;
            margin: 0;
        }

        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }

        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-front, .flip-card-back {
            box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border: 1px solid coral;
            border-radius: 1rem;
        }

        .flip-card-front {
            background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%, rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
            color: coral;
        }

        .flip-card-back {
            background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%, bisque 40%, rgb(255, 185, 160) 78%);
            color: white;
            transform: rotateY(180deg);
        }



        






    </style>







</head>

<body>
    @*<button type="button" class="btn btn-outline-dark" onclick="window.print()">Print your Application</button>*@

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <p class="title">YOUR APPLICATION DETAILS</p>
                <br>
                <hr>
                <p>Candidate Id:  @Html.DisplayFor(model => model.CandidateId) </p>
                <p>Candidate Name:  @Html.DisplayFor(model => model.FullName) </p>

                <p>Email Id:   @Html.DisplayFor(model => model.Email)</p>
                <p>Mobile Number:  @Html.DisplayFor(model => model.Mobile) </p>

                <p>Candidate Age:  @Html.DisplayFor(model => model.Age) </p>
                <p>Candidate Rank:  @Html.DisplayFor(model => model.Rank) </p>
                <p>Course of Preference:  @Html.DisplayFor(model => model.Courses.CourseName) </p>
                <p><b>Course Allotment Status:  @Html.DisplayFor(model => model.AllotmentStatus)</b> </p>









            </div>
            <div class="flip-card-back">
                <p class="title">YOUR APPLICATION DETAILS</p>
                <br>
                <hr>
                <p>Father's Name:  @Html.DisplayFor(model => model.FatherName) </p>
                <p>Mother's Name:  @Html.DisplayFor(model => model.MotherName) </p>
                <p>HS Aggregate Marks:  @Html.DisplayFor(model => model.HigherSecondaryAggregateMarks) </p>



                <p><a class="btn btn-outline-dark" @Html.ActionLink("Edit", "Edit", new { id = Model.CandidateId }) &raquo;</a></p>



            </div>
        </div>
    </div>

































</body>
</html>
